<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="pathOfDB" value="Data Source= C:\Users\admin\Desktop\GS.db" />
    <add key="pathOfCSVFolder" value="C:\Users\admin\Desktop\TestService" />
    <add key="pathOfDeviceAndDataJsonFile" value="C:\Users\admin\source\repos\GSMT_WinForm_Fix4\FileExportScheduler\bin\Debug\Configuration\DeviceAndData.json" />
  </appSettings>
</configuration>
